@use 'utilities/container';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

nav, footer {
    width: 800px;
    padding: 1rem 0;
}

canvas {
    box-shadow: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
}